@media  (max-width: 992px ) {
    .burger {
        display: flex
    }

    .header__items {
        display: none;
    }

    .show-menu {
        position: fixed;
        right: 140px;
        top: 30px;
        z-index: 4;
    }

    .header__nav__item {
        font-size: 36px;
        margin-bottom: 35px;
    }

    .header__items.show {
        display: flex;
        flex-direction: column;
        background: #ff02a3;
        width: 100%;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        position: fixed;
        z-index: 4;
        transition: 1s;

    }
    .burger span {
        background: transparent;
    }
    .show-menu span:before {
        transform: rotate(45deg);
        transition: 0.8s;
        margin-top: 18px;
    }
    .show-menu span:after {
        transform: rotate(-45deg);
        transition: 0.8s;

    }
}
